Library
Temp
obj
Logs
UnityPackageManager
.vs
*.csproj
*.sln
Assets/XFrameworkTest
Assets/XFrameworkTest.meta
Assets/ResourcesAB/NotCommit
Assets/ResourcesAB/NotCommit.meta
Assets/StreamingAssets/AssetBundles
Assets/StreamingAssets/AssetBundles.meta
